*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.main {
    width: 100%;
    height: 90vh;
}

/*      Main Section     */

.navbar{
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    position: fixed;
    z-index: 2;
}

.logo{
    width: 180px;
    margin-left: 20px;
}

a{
    text-decoration: none;
}
.links{
    list-style: none;
    width: 45%;
    display: flex;
    padding-top: 18px ;
    justify-content: space-between;
}

.link{
    color:#006937;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    
}

.login{
    margin-right: 20px;
    padding-top: 15px;
}

.icon{
    font-size: 18px;
    padding-right: 10px;
}

.btn{
    background-color: #006937;
    color: white;
    padding: 8px 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

.bg{
    width: 100%;
    margin-top: 8vh;
    height: 85vh;
}



/*      Section 1     */

.sec1{
    width: 100%;
    height: 80vh;
}

.travel{
    position: relative;
    top: -25vh;
    left: 10%;
    height: 30vh;
    width: 80%;
    
}

.btns{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #aa9113;
    width: 19.5%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.active{
    background-color: white;
    color: #aa9113;
}

.content{
    height: 33vh;
    width: 100%;
    background-color: white;
}

.table{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.input{
    width: 38%;
    height: 40px;
    font-size: 15px;
    padding-left: 7px;
    outline: none;
}

.tbtn{
    width: 20% ;
    height: 45px;
    background-color: #006937;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.content p{
    padding-left: 30px;
    padding-bottom: 20px ;
    font-size: 17px;
}

.ads{
    display: flex;
}

.ads img{
    height: 50px;
    padding-left: 30px;
    padding-top: 10px;
}

.modal{
    width: 100%;
    height: 40vh;
}

.modal ul{
    color: rgb(165, 165, 165);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 550;
    width: 100%;
    height: 8vh;
    cursor: pointer;
}

.pre{
    color: #006937 ;
}

.modal-img{
    width: 100%;
    height: 33vh;
}

.modal-img img{
    width: 100%;
}



/*     Services    */

.services{
    background-color: #f9f5ec;
    width: 100%;
    height: 110vh;
    margin-top: 5vh;
}

.services h1{
    padding-top: 50px;
    padding-left: 40px;
    font-size: 40px;
    color: #006937;
}

.s-parent{
    width: 100%;
    height: 78vh;
    margin-top: 8vh;
    display: flex;
    justify-content: space-evenly;
}

.s-child{
    background-color: white;
    height: 100%;
    width: 21%;
    border-radius: 20px;
}

.s-child h2{
    color: #006937;
    font-size: 20px;
    padding: 10px 12px;
}

.s-child p{
    padding: 5px 12px;
    font-size: 17px;
}


/*     Services    */

.offers{
    height: 117vh;
    width: 100%;
}

.offers h2{
    color: #006937;
    font-size: 30px;
    padding: 60px 20px;
    padding-bottom: 33px;
}

.o-parent{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
}

.child1{
    width: 27%;
    height: 100%;
}

.child2{
    width: 25%;
    height: 100%;
    border-radius: 10px;
}

.child3{
    width: 43%;
    height: 100%;
}

.child1 div{
    width: 100%;
    height: 48%;
    border-radius: 10px;
}

.img1{
    margin-bottom: 21px;
}
.img2{
    margin-top: 21px;
}
.img3{
    width: 100%;
    height: 38%;
    margin-bottom: 22px;
}
.img4{
    width: 100%;
    height: 58%;
    margin-top: 21px;
}

.o-parent img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.common{
    background-color: #aa9113ce;
    color: white;
    width: 80px;
    font-size: 25px;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 90px;
}

.fst{
    position: relative;
    top: -230px;
}

.scnd{
    position: relative;
    top: -230px;
}


.trd{
    position: relative;
    top: -530px;
}
.frth{
    position: relative;
    top: -170px;
    width: 170px;
    padding-right: 5px;
}
.ffth{
    position: relative;
    top: -290px;
}


/*     Corporate Program    */

.program{
    background-image: linear-gradient(to right, rgba(0, 105, 54, 0.555), rgba(0, 105, 54, 0.644)), url('../Assets/corpotate_banner.png');
    background-position: center;
    width: 100%;
    height: 45vh;
    background-color: black;
    margin-bottom: 50px;
}

.p-content{
    color: white;
    height: 100%;
    width: 65%;
    padding-left: 33%;
}

.p-head{
    padding: 30px 0;
    font-size: 33px;
}

.p-text{
    padding-bottom: 20px;
    font-size: 17px;
}

.p-btn{
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 5px;
}


/*     News Section    */

.news{
    width: 100%;
    height: 110vh;
}

.news h5{
    color: #006937;
    font-size: 32px;
    padding-left: 20px;
    padding-top: 40px;
}

.n-parent{
    width: 100%;
    height: 92vh;
    margin-top: 6vh;
    display: flex;
    justify-content: space-evenly;
}

.n-parent div{
    height: 100%;
    width: 31%;

}

.n-parent div img{
    width: 100%;
}
.n-parent div h2{
    color: #006937;
    padding: 15px 25px;
    font-size: 27px;
}
.n-parent div p{
    padding: 0 25px;
    padding-bottom: 35px;
    font-size: 15px;
}
.n-parent div a{
    text-decoration: none;
    margin-left: 25px;
    margin-top: 25px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #006937;
    border: 1px solid rgba(0, 0, 0, 0.747);
    border-radius: 3px;
}


/*     Contact    */

.contact{
    width: 100%;
    height: 70vh;
    background-color: #f9f5ec;
    display: flex;
    align-items: center;
}

.c-main{
    width: 100%;
    height: 47vh;
    display: flex;
    justify-content: space-evenly;
}

.c1{
    background-image: url(../Assets/cloud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 47%;
    border-radius: 10px;
    height: 100%;
    color: white;
}
.c2{
      background-image: linear-gradient(to right, #00693685 , #006936);
    width: 47%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.c2-add{
    height: 100%;
    width: 45%;
}

.iph{
    height: 100%;
    width: 45%;
}

.c2-add h5{
    color: white;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.c2-add img{
    padding-left: 20px;
    padding-bottom: 20px;
}

.iph img{
    padding-top: 43px;
    padding-left: 50px;
}

.c1 p{
    font-size: 31px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.field{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.field div{
    width: 42%;

}

.field label{
    color: white;
    font-size: 12px;
}
.field input{
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    padding-left: 10px;
}

.c1 button{
    background-color: #006937;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 12px;
    font-size: 17px;
    position: relative;
    right: -535px;
    bottom: -20px;
}

/*     Footer    */
